################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleToMVC/.vs/ConsoleToMVC
/ConsoleToMVC/bin/Debug/netcoreapp3.1
/ConsoleToMVC/obj
